body {
	background-color: #e6e6e6;
}

nav {
	margin: 10px;
	padding: 10px;
	background-color: #018007;
	
}

img {
height: 100%;
width: 100%;
}

footer {
	position: relative;
	width: 100%;
	bottom: 10px;
	background-color: #018007;
}




